<body class="index">
<h1>Books</h1>
<div class="head">
<div>Title</div>
<div>Body</div>
</div>
<div class="books">
<div>title:id</div>
<div>body:id</div>
<div href="">Show</div>
<div href="">Edit</div>
<div href="">Destroy</div>
</div>

<h2>New book</h2>
<%= form_with model: @book do |f| %>
<p class="new">Title</p>
<%= f.text_field :title %>
<p class="new">Body</p>
<%= f.text_area :body %>
<%= f.submit 'Create Book' %>
<% end %>
</body>