// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main{
    margin:33px;
    line-height:18px;
}

.head, .books{
    display:flex;
    justify-content:sapace-around;
}


.new{
    margin:0;
}

.index{
    display:table;
}

.index > div{
    font-weight:bold;
}


.index > div,p{
    display:table-cell;

}

.show{
display:flex;
margin:33px;
font-size:13px;
line-height:18px;
}

.show-item{
    font-weight:bold;
}