// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
    font-size:13px;
    line-height:18px;
    margin:33px;
}

.main{
    margin:33px;
    line-height:18px;
}

.head, .books{
    display:flex;
    justify-content:sapace-around;
}


.new{
    margin:0;
}

.index-head{
    display:flex;
    justify-content:space-around;
    font-weight:bold;
}


.index-list{
    display:flex;
    align-items:center;
    width:90%;
}

.index-list-item{
    display:flex;
    margin:auto;
    justify-content:sapace-between;
}

.sed{
    display:flex;
    margin:0 10px;
}

.show{
display:flex;
margin:33px;
font-size:13px;
line-height:18px;
}

.show-item{
    font-weight:bold;
}

.error{
    border:2px solid red;
    width:450px;
    background-color:#f0f0f0;
    margin-bottom:20px;
}

.error-top{
    background-color:red;
    color:white;
    font-weight:bold;
    padding:5px;
}

.new-error{
    background-color:red;
    display:table;
    padding:2px;
}