// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.head, .books{
    display:flex;
    justify-content:sapace-around;
}

.new{
    margin:0;
}

.index{
    margin:33px;
}